/*Changes background color of the web page*/
body{
	background-color: #66ff99;
}
/*Adds paddin around all secondary headings*/
h2{
	padding: 10px;
}
/*Adds padding around list items in the nav bar*/
li{
	padding: 5px;
}
/*Styles the buttons which implements the moves the user inputs*/
.choice{
	text-align: center;
	width: auto;
	height: auto;
	border-radius: 12px;
	text-align: center;
	padding: 10px;
	margin: 5px;
}
/*Styles the score board btween the user & computer */
.aspects{
	text-align: center;
	float: center;
	padding: 10px;
	text-decoration: underline;
}
/*Aligns the div the buttons are in to the center*/
#moves{
	text-align: center;
}
/*Styles the nav bar on every page*/
.navBar{
	display: inline;
	background-color: #ffff66;
	color: black;
	text-shadow: 30px;
	padding: 30px;
}
/*Moves 'Restart' button to the center*/
#res{
	text-align: center;
}
/*Styles the status div in the Play page*/
#status{
	padding: 10px;
	border-radius: 12px;
	text-decoration:
}
/*Moves & positions the image on instruction page*/
#RPSLS{
	float: right;
	margin-right: 250px;
}